.login-form {
  width: 37rem;
  padding: 2rem 3rem 2.5rem 3rem;
  gap: 1.3rem;
  box-shadow: 0 0 5px 1px hsla(0, 0%, 0%, 0.113);
  border-radius: 15px;
  background-color: white;
}

.l-title {
  font-weight: 400;
}

.l-container {
  display: flex;
  flex-direction: column;
}

.l-label {
  font-size: 1.3rem;
  font-weight: 400;
}

.l-input {
  padding: 10px 0 10px 10px;
  outline-color: rgba(2, 115, 51, 0.692);
  border-radius: 1px;
}

.l-btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.l-btn {
  border: none;
  border-radius: 5px;
  background-color: #18a582;
  padding: 10px 0;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.l-btn:hover {
  background-color: #27b495;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(40deg);
  }

  20% {
    transform: rotate(80deg);
  }

  30% {
    transform: rotate(120deg);
  }

  50% {
    transform: rotate(160deg);
  }

  60% {
    transform: rotate(200deg);
  }

  70% {
    transform: rotate(240deg);
  }

  80% {
    transform: rotate(280deg);
  }

  90% {
    transform: rotate(320deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  animation-name: loader;
  animation-duration: 0.9s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  width: 80px;
  position: absolute;
  left: 45vw;
  top: 45vh;
}

.l-form-position {
  margin: 4rem auto;
}

.l-background {
  background-image: url('https://assets.splitwise.com/assets/core/facets.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem 0;
}

.reset-container {
  position: absolute;
  top: 7rem;
  left: 27vw;
}

.reset-header {
  background-color: white;
  padding: 2px;
}
